<h2>Food Gallery</h2>
	
<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/food/food.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/261.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/5550.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/4873.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/food/0419.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/2757.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/5532.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/food/2763.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/3289.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/food/5530.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
</div>
