
<h2>Portrait Gallery</h2>
	
	<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/portraits/avi.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3170.JPG" oncontextmenu="return false;" style="width:100%">
      <img src="./assets/imgs/portraits/3123.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/portraits/3041.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3182.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3119.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
     <div class="column">
    <img src="./assets/imgs/portraits/2371.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3073.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
</div>
