
<h2>Portrait Gallery</h2>
	
	<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/portraits/avi.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5879.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3170.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3123.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5884.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/2419.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3201.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/1201.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/2077.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/2456.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/portraits/3041.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3182.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3119.jpg" oncontextmenu="return false;" style="width:100%">
        
    <img src="./assets/imgs/portraits/4694.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5187.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5797.jpg" oncontextmenu="return false;" style="width:100%">
        
    <img src="./assets/imgs/portraits/3170.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5888.jpg" oncontextmenu="return false;" style="width:100%">
        
    <img src="./assets/imgs/portraits/6107.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5788.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5883.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
<div class="column">
    <img src="./assets/imgs/portraits/2371.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3073.jpg" oncontextmenu="return false;" style="width:100%">
    
    <img src="./assets/imgs/portraits/5987.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5883.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/6073.jpg" oncontextmenu="return false;" style="width:100%">
    
    <img src="./assets/imgs/portraits/5900.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5992.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/5989.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/portraits/3839.jpg" oncontextmenu="return false;" style="width:100%">
</div>
</div>
