<h2>Other Gallery</h2>
    

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/architecture/20170820.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/architecture/4041.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/architecture/5022.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/architecture/4859.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/architecture/5016.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/architecture/20170827.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/architecture/4906.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/architecture/5009.jpg" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/architecture/5145.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/architecture/3830.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
</div>