<div class="about-container">

    <img src="./assets/imgs/1024.jpg" width="70%" height="60%"/>

    <div class="bio">
        <h2>About me</h2>
        <p>
        Hey.. My name is Eli Brown I was born and raise in Dimona Israel, Apart of the Hebrew Israelites Community.
        Growning up I loved creating music and writing songs, Infact I had a Rap group Called GSB for a few good years.
        I than developed a passion for mobile development and went to school to learn Mobile Application Development in 2015
        I've always appreciated good photography and i really got into it a few years back when i got a new Lg g4 smartphone,
        It took stunning photos in nature and was outstanding with macro photography. I then bought my first DSLR camera the one and only Canon 750d, I absolutly love the 750d Canon. Although I still have much to learn about it, I must say its a great camera to get started with. As of right now, Photography is just a hobby of mine and I get the most out of shooting when i travel on vacations, take photos of family and friends, food or simply just taking a walk around the city.
        </p>  
    </div>
</div>