<div class="my-footer">

<div class="contact">
<h1><Strong>Contact</Strong></h1>
<p class="email">elibrown.photography@gmail.com</p>
</div>

<div class="social-btn">
		<h1><Strong>Social</Strong></h1><br>
		<a href="https://www.facebook.com/elibrown.photography/" target="blank" class="fa fa-facebook"></a>
		<a href="https://www.instagram.com/elibrown.photography/" target="blank" class="fa fa-instagram"></a>
	</div>

	<!--Copyright-->
    <div class="footer-copyright-container">
		<p class="footer-copyright">All rights reserved to <Strong>Eli Brown Photography.</Strong></p>
        <p class="footer-copyright">© 2018 Copyright elibrownphotography.com </p>
    </div>
    <!--/Copyright-->
</div>