
<h2>Macro Gallery</h2>
<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/macro/macro.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/1040.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/4303.jpg" oncontextmenu="return false;" style="width:100%">
 <img src="./assets/imgs/macro/1062.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/macro/20170420_152045.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/3283.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/3582.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/macro/20170627_132048.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/1041.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/20170626_170255.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/macro/3075.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
</div>
