<div class="app-container">
<div class="navbar">
  <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Galleries
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <a routerLink="/galleries/macro" routerLinkActive="active">Macro</a>
    <a routerLink="/galleries/landscape" routerLinkActive="active">Landscapes</a>
    <a routerLink="/galleries/architecture" routerLinkActive="active">Architecture</a>
    <a routerLink="/galleries/portrait" routerLinkActive="active">Portraits</a>
    <a routerLink="/galleries/food" routerLinkActive="active">Food</a>
    <a routerLink="/galleries/animals" routerLinkActive="active">Animals</a>
    <a routerLink="/galleries/black-and-white" routerLinkActive="active">B & W</a>
    <a routerLink="/galleries/other" routerLinkActive="active">Other</a>
    </div>
  </div> 
</div>
<div class="outlet"><router-outlet></router-outlet></div>
<app-footer></app-footer>
</div>


