<h2>Other Gallery</h2>
    

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/other/everyday_objects.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/3318.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/4697.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/3967.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/4812.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/4825.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5296.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/other/3493.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5619.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5179.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5641.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/6733.jpg" oncontextmenu="return false;" style="width:100%">  
    <img src="./assets/imgs/other/3931.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/3943.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5842.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/other/3265.jpg" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/other/5639.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5052.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/6309.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/5050.jpg" oncontextmenu="return false;" style="width:100%">      
    <img src="./assets/imgs/other/2684.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/other/3910.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
</div>

