<h2>Other Gallery</h2>
    

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/animals/4165.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/3022.JPG" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/4247.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/5767.jpg" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/animals/4277.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/animals/4183.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/1951.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/4179.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/4298.jpg" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/animals/3018.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/animals/3034.JPG" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/animals/4275.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/4296.jpg" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/animals/4259.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/animals/3033.jpg" oncontextmenu="return false;"  style="width:100%">
    <img src="./assets/imgs/animals/2392.JPG" oncontextmenu="return false;" style="width:100%">
  </div>
</div>