
<h2>Landscape Gallery</h2>
	
<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="./assets/imgs/landscapes/20170701_182413-1.jpg" oncontextmenu="return false;" style="width:100%">
      <img src="./assets/imgs/landscapes/20170625_115101.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
     <img src="./assets/imgs/landscapes/20170626_153104.jpg" oncontextmenu="return false;" style="width:100%">
    <img src="./assets/imgs/landscapes/20170626_153530.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
    
    <div class="column">
    <img src="./assets/imgs/landscapes/20170626_165832.jpg" oncontextmenu="return false;" style="width:100%">
        <img src="./assets/imgs/landscapes/20170626_153306.jpg" oncontextmenu="return false;" style="width:100%">
  </div>
</div>